* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: sans-serif;
}

body {
    background-color: #91a7ff;
    font-weight: 600;
}

p {
    padding: 0.8rem;
}

.container {
    width: 40rem;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

header {
    color: #888;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 1.8rem;
}

main {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 1.2rem;
    column-gap: 1.2rem;
    padding: 1.8rem;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.day {
    font-weight: 700;
    color: #666;
}

.grey {
    color: #ddd;
}

.orange {
    color: #fff;
    background-color: #e8590c;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem;
    color: #666;
}

.plus {
    font-size: 1.8rem;
    border-radius: 100%;
    border: 2px solid #e8590c;
}

